.post-card {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  box-shadow: #c1c0b9;
}


@media only screen and (min-width: 768px) {
  .post-card {
    margin-top: 70px;
  }

  .post-card-image {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .post-card-content {
    margin-top: 0;
  }
}


.post-card{
  background: #e7e6e1;
  margin: auto;
}

