nav {
  display: flex;
  align-items: left;
  background-color: #f8f8f8;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-right: 20px;
}

nav button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

nav button:hover {
  background-color: #c82333;
}
.post-card {
  display: flex;
  flex-wrap: wrap;
}

.post-card-image {
  flex: 0 0 250px;
  margin-right: 20px;
}

.post-card-content {
  flex: 1 1 0;
}

/* Ha a kártyák túl szélesek lennének */
@media (max-width: 768px) {
  .post-card {
    flex-direction: column;
  }

  .post-card-image {
    flex: 1 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
