<app-menu></app-menu>

<div class="centered">
  <mat-card class="example-card" [formGroup]="profileForm">
    <mat-card-header>
      <mat-card-title>Személyes adatok</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <label for="exampleInputUsername1" class="form-label">Felhasználónév</label>
      <input formControlName="username" type="text" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp">
      <mat-divider></mat-divider>
      <label for="exampleInputEmail1" class="form-label">E-mail cím</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail címed">
      <mat-divider></mat-divider>
      <label for="exampleInputPassword1" class="form-label">Jelszó</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Jelszó(legalább 8 karakter)" minlength="8">
      <mat-divider></mat-divider>
      <label for="exampleInputPhoneNumber1" class="form-label">Telefonszám</label>
      <input formControlName="phoneNumber" type="text" class="form-control" id="exampleInputPhoneNumber1" placeholder="Telefonszám">
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" (click)="updateUserData()" mat-button>Módosítások mentése</button>
      <button (click)="deleteProfile()" mat-button color="warn">Fiók törlése</button>
    </mat-card-actions>
  </mat-card>
</div>


