<h2>Regisztráció</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Felhasználónév:</label>
    <input type="text" id="username" formControlName="username">
    <div *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
      <div *ngIf="registrationForm.get('username')?.errors?.['required']">A felhasználónév kötelező</div>
    </div>
  </div>
  <div>
    <label for="lastname">Vezetéknév:</label>
    <input type="text" id="lastname" formControlName="lastname">
    <div *ngIf="registrationForm.get('lastname')?.invalid && (registrationForm.get('lastname')?.dirty || registrationForm.get('lastname')?.touched)">
      <div *ngIf="registrationForm.get('lastname')?.errors?.['required']">A Vezetéknév kötelező</div>
    </div>
  </div>
  <div>
    <label for="firstname">Keresztnév:</label>
    <input type="text" id="firstname" formControlName="firstname">
    <div *ngIf="registrationForm.get('firstname')?.invalid && (registrationForm.get('firstname')?.dirty || registrationForm.get('firstname')?.touched)">
      <div *ngIf="registrationForm.get('firstname')?.errors?.['required']">A Keresztnév kötelező</div>
    </div>
  </div>
  <div>
    <label for="email">E-mail cím:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
      <div *ngIf="registrationForm.get('email')?.errors?.['required']">Az e-mail cím kötelező</div>
      <div *ngIf="registrationForm.get('email')?.errors?.['email']">Az e-mail cím nem megfelelő formátumú</div>
    </div>
  </div>
  <div>
    <label for="password">Jelszó:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
      <div *ngIf="registrationForm.get('password')?.errors?.['required']">A jelszó kötelező</div>
      <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">A Jelszónak minimum 8 karakter hosszúnak kell lennie</div>
    </div>
  </div>
  <div>
    <label for="phoneNumber">Telefonszám:</label>
    <input type="tel" id="phoneNumber" formControlName="phoneNumber">
    <div *ngIf="registrationForm.get('phoneNumber')?.invalid && (registrationForm.get('phoneNumber')?.dirty || registrationForm.get('phoneNumber')?.touched)">
      <div *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">Telefonszám kötelező</div>
      <div *ngIf="registrationForm.get('phoneNumber')?.errors?.['phoneNumber']">A telefonszám nem megfelelő formátumú</div>
    </div>
  </div>
  <div id="registration"><button type="submit" id="registration" [disabled]="registrationForm.invalid">Regisztráció</button></div>
  <a routerLink="login"><button id="login">Van már fiókod? Ha nincs kattints ide</button></a>
</form>
