<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Regisztráció</h1>
          <h6>Kérlek ad meg adataidat</h6>
        </div>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Felhasználónév</label>
              <input formControlName="username" type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Felhasználónév">
              <small *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].dirty || signupForm.controls['username'].touched)" class="text-danger">
                A felhasználónév mező kitöltése kötelező!
              </small>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Vezetéknév</label>
              <input formControlName="firstName" type="text" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp" placeholder="Vezetéknév">
              <small *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)" class="text-danger">
                A vezetéknév mező kitöltése kötelező!
              </small>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Keresztnév</label>
              <input formControlName="lastName" type="text" class="form-control" id="exampleInputFirstName1" aria-describedby="emailHelp" placeholder="Keresztnév">
              <small *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty || signupForm.controls['lastName'].touched)" class="text-danger">
                A keresztnév mező kitöltése kötelező!
              </small>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">E-mail cím</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail cím">
              <div *ngIf="signupForm.get('email')?.hasError('pattern') && signupForm.get('email')?.touched" class="text-danger">Helytelen e-mail cím formátum</div>
              <div *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="text-danger">Az e-mail cím megadása kötelező</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Jelszó</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Jelszó (legalább 8 karakter)">
              <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="text-danger">A jelszó megadása kötelező</div>
              <div *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched" class="text-danger">A jelszó legalább 8 karakter hosszú kell legyen</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Telefonszám</label>
              <input formControlName="phoneNumber" type="text" class="form-control" id="exampleInputPhoneNumber1" placeholder="Telefonszám">
              <div *ngIf="signupForm.get('phoneNumber')?.invalid && signupForm.get('phoneNumber')?.touched"
              class="text-danger">
              <div *ngIf="signupForm.get('phoneNumber')?.hasError('required')">
                A telefonszám megadása kötelező
              </div>
              <div *ngIf="signupForm.get('phoneNumber')?.hasError('pattern')">
                A telefonszám formátuma érvénytelen
              </div>
            </div>
            </div>

            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Regisztráció</button>
          </form>
          <a style="color:#fff; margin-top: 10px;" routerLink="/login">Van már fiókod? kattints ide!!</a>
      </div>
    </div>
  </div>
</div>
