nav {
  display: flex;
  align-items: left;
  background-color: #f8f8f8;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-right: 20px;
}

nav button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

nav button:hover {
  background-color: #c82333;
}

.example-card {
  width: 750px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mat-card-header .mat-card-title {
  flex: 1;
  text-align: left;
}

.mat-card-header button {
  margin-left: auto;
}

.mat-card-header {
  display: flex;
  align-items: flex-start;
}

button[mat-button][type=submit] {
  margin-right: auto;
}

.example-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
