<app-menu></app-menu>
<div class="centered">
  <mat-card class="example-card" fxLayout="row">
    <mat-card-header fxLayout="grid" fxLayoutAlign="start center">
      <mat-card-title>Saját hirdetéseim</mat-card-title>
      <div class="btn" style="grid-column: 2;">
        <button type="submit" mat-button color="primary" (click)="openAddAds()">Hirdetés feladás</button>
      </div>
    </mat-card-header>
    <div class="centeredCrad">
    <mat-card-content style="width: 400px;" fxLayout="column" fxLayoutAlign="center">
      <div *ngFor="let ad of hirdetes">
        <app-advest [ad]="ad" [userId]="user.id"></app-advest>
      </div>
    </mat-card-content>
    </div>
  </mat-card>
</div>

